:root{
    --main-width: 900px;
    --main-bg-color: #01497C;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: var(--main-bg-color);
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    max-width: var(--main-width);
}
.cv-container {
    display: flex;
    max-width: var(--main-width);
    margin: 0px auto;
    background-color: var(--main-bg-color);
}

.sidebar {
    background-color: var(--main-bg-color);
    color: #fff;
    padding: 20px;
    width: 30%;
    text-align: center;
}

.photo img {
    /* border-radius: 50%; */
    width: 120px;
    height: 120px;
    object-fit: cover;
    pointer-events: none; /* FOTO QUE NO SE PUEDE MOVER */
}

.sidebar h1 {
    font-size: 22px;
    margin-bottom: 5px;
}

.sidebar .job-title {
    font-size: 16px;
    font-weight: 300;
}

.job-title{
    margin-right: 10px;
}

.contact-info, .additional-info {
    margin-top: 20px;
}

.main-content {
    background-color: #fff;
    padding: 20px;
    width: 70%;
    border-top-left-radius: 8%;
}

.section {
    margin-bottom: 20px;
}

.formacion{
    font-weight: bold;
    font-size: 1.1em;
    color:#ffffff
}

.fecha{
    color: #cfcfcf;
}

h2 {
    color: #0d3b66;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

aside > section > h2 {
    color: #ffffff;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

footer {
    background-color: #468FAF;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: var(--main-width);
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.1);
}

.contact-info {
    padding: 5px;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 600px;
}
.contact-info p {
    margin: 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 8px 0;
}

.experience h3 {
    margin: 10px 0;
    font-size: 18px;
}

a, a:link, a:visited{
    color: #c2f3ff;
}

a:hover, a:active{
    color: #fff;
}